<nav class="navbar navbar-default">  
  <div class="container-fluid">
    <div class="row">
		  <div class="col-xs-12">
        <div class="text-right nav-name" id="user-status-msg"></div>
        <!-- FB Login -->
        <!-- add attribute onlogin="checkLoginState" -->
      </div>
    </div>
    <div class="row">
      <h1 class="col-xs-12"><%= link_to 'CatCafe', root_path %></h1>
    </div>
		<h4>powered by <%= link_to 'The Cat Api', 'http://thecatapi.com/', target: "_blank" %></h4>

    
	</div>



</nav>